*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f1f5f8;
}

.container h2 {
	background-color: #222;
	padding: 20px;
	border-radius: 10px;
	color: #ffffff;
	font-size: 32px;
	margin-bottom: 24px;

}